<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- VUE.JS -->
	    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="style.css">
        <title>BOOLFLIX</title>
    </head>
    <body>

        <div id="root">

            <header>
                <div class="logo-header">
                    <img src="https://www.ailequal.com/ajax-ex-boolflix/img/boolflix.png" alt="">
                </div>

                <div class="search-bar">
                    <input type="text" name="" value="" placeholder="Cerca un film, serie tv ....." v-model="filterSearch" @keyUp.enter="btnResearch">
                    <button id="btn-search" type="button" name="button" @click="btnResearch"> CERCA </button>
                </div>

            </header>

            <section class="container-box">
                <div class="box" v-for="movie in movies">
                    <img src="https://www.softwareone.it/public/layout/uploads/2019/05/movavi-video-editor-icona.png" alt="">
                    <h2> {{ movie.title }}</h2>
                    <h3> {{ movie.original_title }}</h3>
                    <p> {{ movie.original_language}}</p>
                    <p> {{ movie.vote_average }}</p>


                </div>
            </section>

        </div>




        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
