<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- VUE.JS -->
	    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- AXIOS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="style.css">
        <title>BOOLFLIX</title>
    </head>
    <body>

        <div id="root">

            <header>
                <div class="logo-header">
                    <!-- al click sul logo riporta alla Home Page con i film Top Rated -->
                    <img src="https://www.ailequal.com/ajax-ex-boolflix/img/boolflix.png" alt="" @click="returnHomePage">
                </div>

                <div class="search-container">
                    <input class="search-input" type="text" name="" value="" placeholder="Cerca film, serie tv ....." v-model="filterSearch" @keyUp.enter="btnResearch">
                    <a href="#" class="found-btn" @click="btnResearch" >
                        <i class="fas fa-search"></i>
                    </a>
                </div>

                <div class="">
                    <button id="btn-search" type="button" name="button" @click="btnResearch"> CERCA </button>
                </div>

            </header>

            <div class="choice">
                <div class="choice-film"> FILM
                    <div class="drop-choice-film">
                        <p @click="filmRecenti"> Ultime uscite </p>
                        <p @click="filmPopolari"> Più popolari </p>
                    </div>
                </div>
                <div class="choice-tv"> SERIE TV
                    <div class="drop-choice-tv">
                        <p @click="newSeries"> Nuove serie TV </p>
                        <p @click="popularSeries"> Le più viste </p>
                    </div>
                </div>

                <div class="choice-genre"> Filtra per GENERE
                    <div class="drop-genre">
                        <select class="" name="" v-model="selected">
                            <option value="">All types</option>
                            <option v-for="genres in typeGenres" :value="genres"> {{ genres.name }} </option>
                        </select>
                    </div>
                </div>

            </div>



            <div class="title-research">
                <!-- controlli per il titolo della ricerca -->
                <h1 v-if="loading">
                    Loading ...
                </h1>
                <h1 v-else-if="titleSearch && arrayMoviesSeries.length ">
                    {{arrayMoviesSeries.length }} Risultati per : "{{ titleSearch }}"
                </h1>
                <h1 v-else-if="titleSearch">
                    Nessun risultato trovato per : {{ titleSearch }}
                </h1>
            </div>




            <!-- sezione contenente tutte le card dei film -->
            <section class="container-box">
                <div class="card" v-for="movie in arrayMoviesSeries">
                    <div class="box">
                        <div class="imgBx">
                            <ul>
                                <!-- copertina del FILM o SERIE TV -->
                                <li v-if="movie.poster_path != null">
                                    <img :src="urlPoster + 'w185' + movie.poster_path " alt="https://www.softwareone.it/public/layout/uploads/2019/05/movavi-video-editor-icona.png">
                                </li>
                                <li v-else>
                                    <img src="https://www.softwareone.it/public/layout/uploads/2019/05/movavi-video-editor-icona.png" alt="">
                                </li>
                            </ul>
                        </div>
                        <div class="contentBx">
                            <div class="titleBx">
                                <h2>
                                    Titolo: {{ movie.title ? movie.title : movie.name }}
                                </h2>
                                <h3>
                                    Titolo originale: {{ movie.original_title ? movie.original_title : movie.original_name }}
                                </h3>

                                <ul>
                                    <li v-if="languageFlag.includes(movie.original_language)">
                                        <img id="flags" :src="'flag/' + movie.original_language + '.png' " :alt="movie.original_language">
                                    </li>
                                    <li v-else>
                                        {{ movie.original_language }}
                                    </li>
                                    <li id="icon-star">
                                        <!-- stampo le star piene in base al voto -->
                                        <i v-for="i in votation(movie.vote_average)" class="fas fa-star"></i>
                                        <!-- stampo le star vuote sottraendole al voto -->
                                        <i v-for="i in 5 - (votation(movie.vote_average))" class="far fa-star"></i>
                                    </li>
                                    <!-- <li v-if="(votation(movie.vote_average)) != 0">
                                        voto : {{ (votation(movie.vote_average)) }}
                                    </li>
                                    <li v-else>
                                        voto : n.a.
                                    </li> -->

                                    <li>
                                        Trama: {{ movie.overview.slice(0,150) }} ...
                                    </li>

                                    <!-- <li v-for="cast in cast">
                                        {{ cast.name}}
                                    </li> -->
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>




        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
