*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

#icon-star i{
    color: yellow;
}

body{
    background-color: rgb(101, 100, 100);
}

#root{
    width: 100vw;
    height: 100vh;
}

header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 2px solid red;
    background-color: black;
}

.logo-header{
    width: 200px;
}
.logo-header img{
    width: 100%;
    margin-left: 40px;
}

/* barra di ricerca */
.search-container{
    background: white;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116,125,136,.2),
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0,0,0,.2);
}

.search-container:hover > .search-input {
    width: 400px;
}

.search-input{
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    transition: 0.8s;

}

.search-input:focus{
    width: 400px;
}

.found-btn i{
    color: red;
}

@keyframes shaker {
    0% { transform: skew(0deg,0deg);}
    25% { transform: skew(5deg,5deg);}
    75% { transform: skew(-5deg,-5deg);}
    100% { transform: skew(0deg,0deg);}
}

.search-container:hover{
    animation: shaker 0.15s linear 3 ;
}

/* botton cerca */

#btn-search {
	box-shadow: 0px 10px 14px -7px #ffffff;
	background:linear-gradient(to bottom, #fa000d 5%, #f0bbc0 100%);
	background-color:red;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size:20px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
    margin-right: 40px;
}
#btn-search:hover {
	background:linear-gradient(to bottom, #f0bbc0 5%, #fa000d 100%);
	background-color:#f0bbc0;
}

/* div per messaggi della ricerca */

.title-research{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
}


/* box film */
.container-box{
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

}

.box{
    width: 200px;
    min-height: 400px;
    border: 1px solid;
    text-align: center;
    margin: 20px;
}

.box img{
        width: 100%;
        margin-bottom: 20px;
}

.box h2, .box h3, .box li {
    margin-bottom: 10px;
}

#flags{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
